li a {
    color: green;
}
body {
    /* background: pink; */
    /* background: white url("images/background.jpeg") no-repeat; */
    background-image: url("images/background2.jpeg");
    background-repeat: no-repeat;
}
